<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("./admin/head.ejs",{title:"LG Display"}) %>

</head>
    

<body id="page-top">

    <div id="wrapper">

        <%- include("./admin/sidebar.ejs") %>

        
        <div id="content-wrapper" class="d-flex flex-column">

            
            <div id="content">

                
                <%- include("./admin/header.ejs") %>

                
                <div class="container-fluid">

                   
                   

                </div>
               

            </div>
            
            <%- include("./admin/footer.ejs") %>
            

        </div>

    </div>
    
    <%- include("./admin/popup.ejs") %>


    <%- include("./admin/script.ejs") %>

    
</body>

</html>